.post{
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.post__header{
    display: flex;
    justify-content:space-between;
    margin-bottom: 10px;
}
.post__info{
    margin-left: 10px;
}
.post__info > p {
    color: gray;
    font-size: 12px;
}
.post__body{
    overflow-wrap: normal;
}
.post__info > h2{
    font-size: 15px;
}
.post__button{
    display: flex;
    justify-content: space-evenly;
}
#dropdown-item-button{
    color: black !important;
    background: white;
    border: white;
}
.post__comment{
    display: flex;
}
.post__commentinfo{
    margin-left:15px ;
}
.comment__top{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.comment__inputContainer{
    background: white;
    /* padding: 10px; */
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}